name: Backend CI/CD - Production

on:
  push:
    branches:
      - main

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
    environment: production

    steps:
      # 1️⃣ Checkout code
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2️⃣ Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      # 3️⃣ Install dependencies
      - name: Install dependencies
        run: npm ci

      # 4️⃣ Build project
      - name: Build project
        run: npm run build

      # 5️⃣ Build Docker image
      - name: Build Docker image
        run: |
          docker build -t backend:${{ github.sha }} .

      # 6️⃣ Login to AWS ECR
      - name: Login to AWS ECR
        uses: aws-actions/amazon-ecr-login@v2
        with:
          registries-ids: 734649603753
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}


      # 7️⃣ Tag Docker image (SHA + latest)
      - name: Tag Docker image
        run: |
          docker tag backend:${{ github.sha }} ${{ secrets.AWS_ECR_URI }}:${{ github.sha }}
          docker tag backend:${{ github.sha }} ${{ secrets.AWS_ECR_URI }}:latest

      # 8️⃣ Push Docker image to ECR
      - name: Push Docker image
        run: |
          docker push ${{ secrets.AWS_ECR_URI }}:${{ github.sha }}
          docker push ${{ secrets.AWS_ECR_URI }}:latest

      # 9️⃣ Deploy to ECS
      - name: Deploy to ECS
        uses: aws-actions/amazon-ecs-deploy-task-definition@v2
        with:
          task-definition: task-def.json
          service: backend-service
          cluster: jk-cluster
          wait-for-service-stability: true
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
